@import "styles/variables";
@import "styles/breakpoints";

.corpo {
    padding: 20px;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.filterHeader {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 30px;
    width: 100%;

    @media(max-width:$mobile) {
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}