@import "styles/variables";
@import "styles/breakpoints";

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.filterHeader {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 30px;
    padding: 0 20px 0 20px;
    width: 100%; 
}