@import "styles/variables";
@import "styles/breakpoints";

.ordenador {
    align-items: center;
    background-color: $backgrounds;
    border: 1px solid #444444;
    color: $texto;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    display: flex;
    font-size: 1rem;
    font-weight: bold;
    height: 40px;
    justify-content: space-between;
    min-width: 200px;
    padding: 0 40px;
    position: relative;
    z-index: 1;

    @media(max-width:$mobile) {
        min-width: 100%;
    }

    &--ativo {
        border-color: #6aa6d8;
        color: #5795c7;
        background-color: #f0f8ff;
    }

    &__options {
        display: none;
        position: absolute;
        left: 0;
        flex-direction: column;
        top: 100%;
        width: 100%;

        &--ativo {
            display: flex;
        }
    }

    &__option {
        align-items: center;
        background-color: $backgrounds;
        color: $texto;
        border-top: 2px solid $color;
        box-sizing: border-box;
        display: flex;
        height: 40px;
        justify-content: center;
        width: inherit;

        &:hover,
        &--ativo {
            cursor: pointer;
            border-color: #6aa6d8;
            color: #5795c7;
            background-color: #f0f8ff;
        }
    }
}