$color: #000000;
$primary: #97D5B1;
$secondary: #58a4e3;
$paralela: #64CCC5;
$backgrounds: #e8e7e7;
$texto: #000000;
$texto_secundario: #7C7C7C;
$shadow: #000000;

$footer-text: #FFFFFF;
$footer-background: #33475B