@import "styles/variables";
@import "styles/breakpoints";

.filtros {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
    margin: 20px 0;

    &__filtro {
        align-items: center;
        background-color: $backgrounds;
        border: 1px solid $shadow;
        border-radius: 4px;
        display: flex;
        font-size: 1.25rem;
        font-weight: bold;
        color: $texto;
        height: 40px;
        justify-content: center;
        width: 150px;
        transition: .2s;

        &--ativo {
            background-color: $secondary;
            color: white;
        }

        &:hover {
            cursor: pointer;
            filter: saturate(1) drop-shadow(2px 2px 2px $shadow);
        }
    }
}