@import "styles/variables";
@import "styles/breakpoints";

.filtros {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px 0;

    &__filtro {
        align-items: center;
        background-color: $backgrounds;
        border: 1px solid #444444;
        border-radius: 4px;
        display: flex;
        font-size: 1.25rem;
        font-weight: bold;
        color: $texto;
        height: 40px;
        justify-content: center;
        width: 150px;
        transition: .2s;

        &--ativo {
            border-color: #6aa6d8;
            color: #5795c7;
            background-color: #f0f8ff;
        }

        &:hover {
            cursor: pointer;
            border-color: #6aa6d8;
            color: #5795c7;
            background-color: #f0f8ff;
            filter: saturate(2);
        }
    }
}