@import "styles/variables";
@import "styles/breakpoints";

.container {
    display: flex;
    justify-content: space-between;
    width: 80vw;
    height: 100vh;
    border-radius: 20px;
    box-shadow: 1px 1px 5px #555353;
    margin: 0 auto;

    @media(max-width: $tablet_big) {
        flex-direction: column;
    }

    @media(max-width: $tablet) {
        width: 100vw;
    }
}

.items {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    overflow-y: auto;
    overflow-x: hidden;

    &__title {
        display: flex;
        flex-direction: row;
        width: 100%;
        align-items: center;
        justify-content: space-around;
        text-align: center;

        h1 {
            color: $primary;
        }

        h4 {
            color: $texto_secundario;
        }
    }

    &__container {
        padding: 10px;
        overflow-y: auto;
    }
}

.item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 55vw;
    gap: 25px;
    padding: 10px;
    list-style: none;

    &__principal {
        display: flex;
        flex-direction: row;
        column-gap: 5px;
        align-items: center;
        width: 40%;

        @media(max-width: $mobile) {
            text-align: center;
            display: flex;
            flex-direction: column;
        }
    }

    &__title {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
        -webkit-line-clamp: 2;

        @media(max-width: $mobile) {
            width: auto;
            font-size: small;
        }
    }

    &__produto {
        width: 10vw;
    }

    &__delete {
        cursor: pointer;
        height: 20px;
        transition: .2s;

        &:hover {
            filter: saturate(2) drop-shadow(.5px .5px .5px $shadow);
        }
    }

    @media(max-width: $tablet_big) {
        width: 100%;
    }
}

.summary {
    display: flex;
    width: 30%;
    align-items: center;
    flex-direction: column;
    background-color: $backgrounds;
    padding: 10px;
    border-radius: 0px 20px 20px 0px;

    &__title {
        display: flex;

        h1 {
            color: $primary;
        }
    }

    @media(max-width: $tablet_big) {
        width: 100%;
    }
}