@import "styles/variables";
@import "styles/breakpoints";

.container {
    min-height: 70vh;

    h2 {
        text-align: center;
    }

    &__mapa {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;

        @media(max-width:$tablet) {
            justify-content: center;
        }

        &__header {
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
            flex-wrap: wrap;

            @media(max-width:$tablet) {
                justify-content: center;
                align-items: center;
                flex-direction: column-reverse;
                text-align: center;
            }

        }

        &__dados {
            list-style-type: none;
        }

        &__body {
            background-color: transparent;
            text-decoration: none;
            margin: 50px;
            width: 45vw;
            height: 50vh;
            overflow: hidden;
            border: 2px black solid;

            @media(max-width:$tablet) {
                margin: 10px;
                width: 80vw;
            }

            li {
                list-style-type: none;
                text-align: end;

                a {
                    color: black;
                    text-decoration: none;
                }
            }
        }
    }
}

.carousel {
    display: flex;
    justify-content: center;
}